@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-send {
    @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-20 rounded;
  }
 .inputDefault {
  @apply 
  w-full bg-gray-200
  rounded-md
  p-4 text-lg
  outline-none
  my-2
 }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}